{% extends "base.html" %}

{% block breadcrumb %}

<li class="breadcrumb-item">
	<a href="/collections/view/{{ query.collection_id  }}" class="collectionName"></a>
</li>
{% if id %}
<li class="breadcrumb-item">
	<a href="#">field: <span class="fieldName"></span></a>
</li>
<li class="breadcrumb-item">
	<a href="/fields/form/{{ id }}?collection_id={{ query.collection_id }}">edit</a>
</li>
{% else %}
<li class="breadcrumb-item">
	<a href="/fields/form">add new field</a>
</li>
{% endif %}

{% endblock %}

{% block content %}

<h1 class="mb-3">{{ id ? 'edit' : 'add new' }} field</h1>

<div class="btn-group mb-3">
	<a href="/collection/view/{{ query.collection_id }}" class="btn btn-outline-primary">back to collection</a>
</div>

<form id="fieldForm">
	{% if id %}
	<input type="hidden" id="id" value="{{ id }}" />
	{% endif %}
	<input type="hidden" id="collection_id" value="{{ query.collection_id }}" />
	<div class="row">
		<div class="col-8">
			<div class="form-group">
				<label for="name">name</label>
				<input type="text" class="form-control" id="name" />
			</div>
		</div>
		<div class="col-2">
			<label for="hidden">hidden</label>
			<select class="form-control" name="hidden" id="hidden">
				<option value="0">no</option>
				<option value="1">yes</option>
			</select>
		</div>
		<div class="col-2">
			<label for="shown">shown</label>
			<select class="form-control" name="shown" id="shown">
				<option value="0">no</option>
				<option value="1">yes</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="description">description</label>
		<textarea class="form-control" id="description"></textarea>
	</div>
	<button class="btn btn-primary" id="save">Save</button>
</form>

{% endblock %}

{% block script %}
<script>

	(async () => {

		let response = await fetch('/api/collections/{{ query.collection_id }}');
		let collection = await response.json();
		document.querySelectorAll('.collectionName').forEach((el) => el.innerHTML = collection.name);

		{% if id  %}

		response = await fetch('/api/fields/{{ id }}');
		let field = await response.json();
		document.querySelectorAll('.fieldName').forEach((el) => el.innerHTML = collection.name);
		document.querySelector('input#name').value = field.name;
		document.querySelector('textarea#description').innerHTML = field.description;
		document.querySelector('select#hidden').value = field.hidden;
		document.querySelector('select#shown').value = field.shown;

		{% endif %}

	})();

	document.querySelector('button#save').onclick = async function (e) {

		e.preventDefault();

		{% if id %}

		let response = await fetch('/api/fields', {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json;charset=utf-8'
			},
			body: JSON.stringify({
				'id': document.querySelector('input#id').value,
				'collection_id': document.querySelector('input#collection_id').value,
				'name': document.querySelector('input#name').value,
				'hidden': document.querySelector('select#hidden').value,
				'shown': document.querySelector('select#shown').value,
				'description': document.querySelector('textarea#description').value
			})
		});

		{% else %}

		let response = await fetch('/api/fields', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json;charset=utf-8'
			},
			body: JSON.stringify({
				'collection_id': document.querySelector('input#collection_id').value,
				'name': document.querySelector('input#name').value,
				'hidden': document.querySelector('select#hidden').value,
				'shown': document.querySelector('select#shown').value,
				'description': document.querySelector('textarea#description').value
			})
		});

		{% endif %}

		window.location.replace('/collections/view/{{ query.collection_id }}');

	}

</script>
{% endblock %}
