<!doctype html>

<html lang="end">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>collectors</title>
	<style>
		body {
			overflow-y: scroll;
		}
	</style>
</head>

<body>

	<nav class="container mt-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/collections">collections</a>
			</li>
			{% block breadcrumb %}{% endblock %}
		</ol>
	</nav>

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	{% block script %}{% endblock %}

</body>

</html>
