{% extends "base.html" %}

{% block breadcrumb %}

<li class="breadcrumb-item">
	<a href="/collections/view/{{ id }}" class="collectionName"></a>
</li>
<li class="breadcrumb-item">
	<a href="/collections/form/{{ id }}">delete</a>
</li>

{% endblock %}

{% block content %}

<h1 class="mb-3 collectionName"></h1>

<div class="btn-group mb-3">
	<a href="/collections/view/{{ id }}" class="btn btn-outline-primary">back to view</a>
	<a href="/collections" class="btn btn-outline-primary">back to list</a>
</div>

<div class="alert alert-danger">
	<p class="lead">are you sure you want to delete this collection? all the items inside this collection will be deleted too!</p>
	<button class="btn btn-danger" id="delete">yes, please delete</button>
</div>

{% endblock %}

{% block script %}
<script>

	(async () => {
		let response = await fetch('/api/collections/{{ id }}');
		let collection = await response.json();
		document.querySelectorAll('.collectionName').forEach((el) => el.innerHTML = collection.name);
		document.querySelectorAll('.collectionDescription').forEach((el) => el.innerHTML = collection.description);
	})();

	document.querySelector('button#delete').onclick = async function (e) {

		if (confirm('really, really sure?')) {

			await fetch('/api/collections', {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json;charset=utf-8'
				},
				body: JSON.stringify({
					'id': '{{ id }}'
				})
			});

			window.location.replace('/collections');

		}

	}

</script>
{% endblock %}
