{% extends "base.html" %}

{% block breadcrumb %}

<li class="breadcrumb-item">
	<a href="/collections/view/{{ id }}" class="collectionName"></a>
</li>

{% endblock %}

{% block content %}

<h1 class="mb-3 collectionName"></h1>

<div class="btn-group mb-3">
	<a href="/collections" class="btn btn-outline-primary">back to list</a>
	<a href="/collections/form/{{ id }}" class="btn btn-info">edit</a>
	<a href="/collections/delete/{{ id }}" class="btn btn-danger">delete</a>
</div>

<dl class="row">
	<dt class="col-sm-2">name</dt>
	<dd class="col-sm-10 collectionName"></dd>
	<dt class="col-sm-2">description</dt>
	<dd class="col-sm-10 collectionDescription"></dd>
</dl>

<ul class="nav nav-tabs mb-3">
	<li class="nav-item">
		<a href="#items" class="nav-link active" data-toggle="tab">Items</a>
	</li>
	<li class="nav-item">
		<a href="#fields" class="nav-link" data-toggle="tab">Fields</a>
	</li>
</ul>

<div class="tab-content">

	<div class="tab-pane show active" id="items">
		<div class="btn-group mb-3">
			<a href="/items/form?collection_id={{ id }}" class="btn btn-primary">add new item</a>
		</div>
		<table class="table table-sm" id="itemsTable">
			<thead>
				<tr>
					<th>name</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

	<div class="tab-pane" id="fields">
		<div class="btn-group mb-3">
			<a href="/fields/reorder?collection_id={{ id }}" class="btn btn-info">reorder</a>
			<a href="/fields/form?collection_id={{ id }}" class="btn btn-primary">add new field</a>
		</div>

		<table class="table table-sm" id="fieldsTable">
			<thead>
				<tr>
					<th>order</th>
					<th>name</th>
					<th>hidden</th>
					<th>shown</th>
					<th>description</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>

</div>

{% endblock %}

{% block script %}
<script>

	(async () => {

		let response = await fetch('/api/collections/{{ id }}');
		let collection = await response.json();
		document.querySelectorAll('.collectionName').forEach((el) => el.innerHTML = collection.name);
		document.querySelectorAll('.collectionDescription').forEach((el) => el.innerHTML = collection.description);

		response = await fetch('/api/fields?collection_id={{ id }}');
		let fields = await response.json();
		for (field of fields) {

			let row = '<tr>';
			row += '<td>' + field.order + '</td>';
			row += '<td>' + field.name + '</td>';
			row += '<td>' + (field.hidden ? 'yes' : 'no') + '</td>';
			row += '<td>' + (field.shown ? 'yes' : 'no') + '</td>';
			row += '<td>' + field.description + '</td>';
			row += '<td>';
			row += '<div class="btn-group">';
			row += '<a href="/fields/form/' + field.id + '?collection_id={{ id }}" class="btn btn-sm btn-info">Edit</a>';
			row += '<a href="/fields/delete/' + field.id + '?collection_id={{ id }}" class="btn btn-sm btn-danger">Delete</a>';
			row += '</div>';
			row += '</td>';
			row += '</tr>';
			document.querySelector('#fieldsTable > tbody').innerHTML += row;

			let itemHeader = '<th>' + field.name + '</th>';
			document.querySelector('#itemsTable > thead > tr').innerHTML += itemHeader;

		}

		response = await fetch('/api/items?collection_id={{ id }}');
		let items = await response.json();
		for (item of items) {
			let itemData = JSON.parse(item.data);
			let row = '<tr>';
			row += '<td><a href="/items/view/'+item.id+'?collection_id={{ id }}">' + item.name + '</a></td>';
			for (field of fields) {
				row += '<td>' + itemData[field.id] + '</td>';
			}
			row += '<td>';
			row += '<div class="btn-group">';
			row += '<a href="/items/form/' + item.id + '?collection_id={{ id }}" class="btn btn-sm btn-info">Edit</a>';
			row += '<a href="/items/delete/' + item.id + '?collection_id={{ id }}" class="btn btn-sm btn-danger">Delete</a>';
			row += '</div>';
			row += '</td>';
			row += '</tr>';
			document.querySelector('#itemsTable > tbody').innerHTML += row;
		}

		document.querySelector('#itemsTable > thead > tr').innerHTML += '<th>action</th>';

	})();

</script>
{% endblock %}
